extends layout

block content
	div(class="container")
		h1 Title: #{wish.text}
		h3 Story
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vehicula augue non viverra varius. Suspendisse ut nunc ac elit rhoncus sollicitudin. Quisque augue massa, accumsan et risus eget, aliquam rutrum elit. Nam placerat risus enim, non porttitor tellus tempor et. Maecenas cursus rutrum imperdiet. Nam pharetra nibh ante. Sed rhoncus ligula vel nunc blandit, eu tempor quam pulvinar. Phasellus id ante varius, molestie tortor eget, hendrerit ligula. Maecenas sit amet scelerisque purus. Sed in nulla lobortis, feugiat nisl nec, mollis arcu.


		//- input(type="button", class="btn btn-default", , value="unfollow")
		a(href="#") add a story

script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
script(type="text/javascript", src="js/bootstrap.min.js")
