body {
  padding-bottom: 70px;
  /* padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
}

#wish {
	background-color: #C0C0C0;
	border-radius: 10px;
}

/* a {
  color: #00B7FF;
} */